// Colors 

$black: #000000;
$steelblue: #4682b4;
$white: #FFFFFF;
$whiteish: #f2f4f5;
$coral: #ff7f50;
$gray: #808080;

// Fonts 

$ibm: 'IBM Plex Serif', serif;
$font-regular: 400;
$font-bold: 600;

$xxx-large: 40px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small:12px;

// breakpoints

$max-tablet: 1024px;
$max-mobile: 768px;